header {
    text-align: center;
}

.card {
    border-color: slategray;
}

.card-header {
    background-color: darkgreen;
}

.card-header a {
    color: white;
}

#summary {
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
}

#summary-header {
    text-align: center;
}